* {
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20vh 0
}

h1{
    margin: 5vh 0;
}

section{
    margin: 5vh 0;
}

li{
    list-style: none;
    text-align:center;
    display: flex;
}



span{
    margin: 0 auto;
}

